In [72]:
import pandas as pd
import os

In [73]:
file_path = 'Student Depression Data Cleaning & Modelling/depression_data.csv'

df = pd.read_csv(file_path)

df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [74]:
# List of the columns and their types
df.dtypes

id                                         int64
Gender                                    object
Age                                      float64
City                                      object
Profession                                object
Academic Pressure                        float64
Work Pressure                            float64
CGPA                                     float64
Study Satisfaction                       float64
Job Satisfaction                         float64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                         float64
Financial Stress                         float64
Family History of Mental Illness          object
Depression                                 int64
dtype: object

From the result above, it is clear that we have several categorical variables
- Encode this categorical variables or conver to numerical format
- Assess each categorical variable 1 by 1 for data cleaning

In [75]:
df['Gender'].value_counts()

Gender
Male      15547
Female    12354
Name: count, dtype: int64

In [76]:
# Standardise Gender text
df['Gender'] = df['Gender'].str.strip()

# Convert Gender to numerical binary variable
df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})

df['Gender'].value_counts()

Gender
0    15547
1    12354
Name: count, dtype: int64

In [77]:
df['Age'].value_counts()

Age
24.0    2258
20.0    2237
28.0    2133
29.0    1950
33.0    1893
25.0    1784
21.0    1726
23.0    1645
18.0    1587
19.0    1560
34.0    1468
27.0    1462
31.0    1427
32.0    1262
22.0    1160
26.0    1155
30.0    1145
35.0      10
38.0       8
36.0       7
42.0       4
48.0       3
39.0       3
43.0       2
46.0       2
37.0       2
49.0       1
51.0       1
44.0       1
59.0       1
54.0       1
58.0       1
56.0       1
41.0       1
Name: count, dtype: int64

In [78]:
# Not enough data for students with age > 35 inclusive
# drop rows with age > 30

df = df.loc[df['Age'] <= 30]
df['Age'].value_counts()

Age
24.0    2258
20.0    2237
28.0    2133
29.0    1950
25.0    1784
21.0    1726
23.0    1645
18.0    1587
19.0    1560
27.0    1462
22.0    1160
26.0    1155
30.0    1145
Name: count, dtype: int64

In [79]:
df['City'].value_counts()

City
Kalyan           1268
Hyderabad        1045
Srinagar         1018
Vasai-Virar       994
Lucknow           915
Thane             913
Surat             896
Agra              876
Ludhiana          852
Kolkata           828
Jaipur            826
Ahmedabad         777
Bhopal            749
Pune              741
Patna             714
Chennai           712
Visakhapatnam     709
Rajkot            669
Meerut            629
Bangalore         617
Delhi             595
Ghaziabad         579
Mumbai            575
Vadodara          538
Varanasi          521
Indore            513
Nagpur            509
Kanpur            445
Nashik            406
Faridabad         351
Saanvi              2
Bhavna              2
City                2
Reyansh             1
Nandini             1
Nalini              1
M.Com               1
ME                  1
Rashi               1
Kibara              1
Vaanya              1
Harsh               1
Gaurav              1
Harsha              1
Mira                1
3.0                 1
Less Delhi          1
M.Tech              1
Khaziabad           1
Name: count, dtype: int64

In [85]:
# Remove cities with population less than 300
city_counts = df['City'].value_counts()

City
Kalyan           1268
Hyderabad        1045
Srinagar         1018
Vasai-Virar       994
Lucknow           915
Thane             913
Surat             896
Agra              876
Ludhiana          852
Kolkata           828
Jaipur            826
Ahmedabad         777
Bhopal            749
Pune              741
Patna             714
Chennai           712
Visakhapatnam     709
Rajkot            669
Meerut            629
Bangalore         617
Delhi             595
Ghaziabad         579
Mumbai            575
Vadodara          538
Varanasi          521
Indore            513
Nagpur            509
Kanpur            445
Nashik            406
Faridabad         351
Saanvi              2
Bhavna              2
City                2
Reyansh             1
Nandini             1
Nalini              1
M.Com               1
ME                  1
Rashi               1
Kibara              1
Vaanya              1
Harsh               1
Gaurav              1
Harsha              1
Mira                1
3.0                 1
Less Delhi          1
M.Tech              1
Khaziabad           1
Name: count, dtype: int64